# Add any directories, files, or patterns you don't want to be tracked by version control
Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
packages
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
/Backup
/UpgradeLog.htm
/Properties/PublishProfiles
node_modules
/PlotsDb/PlotsDb/documents
/StarterDb/StarterDbMvc/documents
[.vs]/
App_Data
/Audit/.vs/Audit
/Prelims/.vs/Prelims/FileContentIndex
.vs\
/PolicyKey/.vs/PolicyKey
/Prelims/.vs/Prelims
/Audit/AppLauncher/.vs
/Audit/Prelims/.vs/Audit/FileContentIndex
*.json
/Payoff/.vs/Payoff/FileContentIndex/d0e2d5e7-417d-4db9-b5e9-cd5351b9d225.vsidx
/Payoff/.vs/Payoff/FileContentIndex/f347c431-c164-4e7e-bdbc-806d6a8ff019.vsidx
/Plotting/.vs/Plotting/config/applicationhost.config
/Plotting/.vs/Plotting/FileContentIndex/842032d9-916a-4239-ad3f-c96513aa4722.vsidx
/Plotting/.vs/Plotting/FileContentIndex/9f28af47-99a5-4657-92eb-e8fe85394678.vsidx
/Title/.vs/Title/FileContentIndex/1617db99-f988-411a-910b-00f2f87eae3e.vsidx
/Title/.vs/Title/FileContentIndex/479eec3a-e657-4bef-9697-5595eef61d1d.vsidx
/Title/.vs/Title/FileContentIndex/57430ae4-67e4-4907-bd2a-7af0ca0fb993.vsidx
/Title/.vs/Title/FileContentIndex/acdddd95-9428-4b4f-aed2-2c3b1b005c94.vsidx
/Title/.vs/Title/FileContentIndex/b89eea8c-9c97-46a9-9346-8bd322ee615f.vsidx
/Title/.vs/Title/FileContentIndex/d3664a76-5e69-4901-b6b3-0089769c86c1.vsidx
/Title/.vs/Title/FileContentIndex/ea129683-05c7-4a16-b562-94aba3823103.vsidx
/Title/.vs/Title/v17/HierarchyCache.v1.txt
/Title/Titles/.vs/Title.csproj.dtbcache.json
/TitleAzure/.vs/Title/FileContentIndex/2b17e80b-8a32-4856-b179-d10ce719eb21.vsidx
/TitleAzure/.vs/Title/FileContentIndex/886ee7e1-888d-484d-99bd-d69c74c896c1.vsidx
/TitleAzure/.vs/Title/config/applicationhost.config
/Prelims/.vs/
/.vs/
